* {
    box-sizing: border-box;
}

html{
    /* font-family: mont-reg; */
}

body{
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--clrBlack);
}

footer{
    text-align: center;
    height: 100px;
    background-color:var(--clrNavBG);
    margin: auto;
}
