/* MOBILE ONLY  */

@media (max-width: 510px) {
  .main-layout {
    width: 100%;
    /* background-color: #ff1b0b40; */
  }

  .search-nav{
    flex-direction: column;
  }

  .menu-container {
    position: fixed;
    inset: 0;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s;
    background-color: var(--clrBlackTrans);
    color: var(--clrWhiteTrans);
    padding-top: 100px;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  body.menu-open .menu-container {
    transform: translateX(0);
    z-index: 10;
  }

  .nav-link {
    font-size: xxx-large;
    background: #373b3bab;
    text-align: center;
    margin-bottom: 20px;
    transition: color 0.3s;
    color: var(--clrWhite);
  }

  .nav-link:hover {
    color: var(--clrOrange);
  }

  .second-nav {
    display: none;
    flex-direction: column;
  }

  .main-nav .logo {
    max-width: 150px;
    width: 50%;
  }

  .canvas-container {
    width: 80%;
    align-self: center;
  }

  .meme-editor {
    flex-direction: column;
  }

  .small-img{
    height: 88px;
  }
}

/* SMALL */

@media (min-width: 510px) {
  .main-layout {
    width: 500px;
    /* background-color: #eeff0040; */
  }

  .btn-menu {
    display: none;
  }

  .search-nav{
    flex-direction: row;
  }

  .main-nav .logo {
    max-width: 150px;
    width: 100%;
  }

  .nav-link {
    font-size: medium;
    background: none;
    text-align: start;
    margin-bottom: 0px;
    transition: box-shadow 0.3s;
  }

  .nav-link:hover {
    box-shadow: inset 0px -4px 0px 0px var(--clrBlack);
  }

  .main-nav ul > * {
    padding-inline-end: 35px;
  }
  
  .second-nav {
    flex-direction: row;
  }

  .main-nav ul {
    display: flex;
    align-items: center;
  }

  .canvas-container {
    width: 300px;
    height: 300px;
  }

  .meme-editor {
    flex-direction: row;
  }

  .small-img{
    height: 88px;
  }
}

/* MEDIUM */

@media (min-width: 735px) {
  .main-layout {
    width: 700px;
    /* background-color: #d3d3d340; */
  }

  .nav-link {
    font-size: large;
  }

  .main-nav .logo {
    max-width: 200px;
  }

  .canvas-container {
    width: 450px;
    height: 450px;
  }

  .icon {
    width: 30px;
  }

  .txt {
    font-size: medium;
  }

  .small-img{
    height: 100px;
  }
}

/* LARGE */

@media (min-width: 1020px) {
  .main-layout {
    width: 900px;
    /* background-color: #52f80440; */
  }

  .nav-link {
    font-size: larger;
  }

  .canvas-container {
    width: 600px;
    height: 600px;
  }

  .icon {
    width: 50px !important;
  }

  .txt {
    font-size: large;
  }
}
