.main-nav{
    height: 100px !important;
}

.main-nav:first-child{
    height: fit-content;
    padding: 10px;
}

.main-nav:first-child{
    text-transform: uppercase;
}

.nav-btn{
    cursor: pointer;
}

.main-nav ul > *{
    height: fit-content;
    padding: 10px;
}
