.main-nav{
    height: 100px !important;
}

.main-nav:first-child{
    padding: 10px;
}

.nav-link, .logo{
    cursor: pointer;
}

.main-nav ul > *{
    padding: 18px;
}

.nav-link.active{
    box-shadow: inset 0px -4px 0px 0px var(--clrBlack);
}
