canvas {
  background-color: lightsteelblue;
  /* cursor: pointer; */
}

.editor {
  flex-basis: 50%;
}

.grid-container-editor {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "input     input        input       input         input"
    ".         swichLine    addLine     removeLine    ."
    "biggerF   smallerF     a-left      a-center      a-right"
    "font      font         font        strock        color"
    ".         .            .           .             ."
    "save      share        share       download      download";
  /* "emoji     emoji        emoji       emoji         emoji"
          ".         .            .           share         download"; */
  height: 94%;
  margin: 11px;
  align-items: center;
}

.grid-container-editor > * {
  justify-self: center;
  cursor: pointer;
}

.colorBtn {
  width: 29px;
}

.icon {
  width: 30px;
}

.btn-input-txt {
  grid-area: input;
}

.btn1 {
  grid-area: swichLine;
}

.btn2 {
  grid-area: addLine;
}

.btn3 {
  grid-area: removeLine;
}

.btn4 {
  grid-area: biggerF;
}

.btn5 {
  grid-area: smallerF;
}

.btn6 {
  grid-area: a-left;
}

.btn7 {
  grid-area: a-center;
}

.btn8 {
  grid-area: a-right;
}

.btn-select-font {
  grid-area: font;
}

.btn9 {
  grid-area: strock;
}

.btn10 {
  grid-area: color;
}

.btn11 {
  grid-area: save;
}

.btn12 {
  grid-area: share;
}

.btn13 {
  grid-area: download;
}