.grid-container-gall {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-flow: row;
  grid-gap: 10px;
}

.grid-container-gall > * {
  border: 1px solid black;
  text-align: center;
  height: 150px;
}
